<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <servlet>
    <servlet-name>AlgoServlet</servlet-name>
    <servlet-class>algo.AlgoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlgoServlet</servlet-name>
    <url-pattern>/AlgoServlet/*</url-pattern>
  </servlet-mapping>
</web-app>